/* Styling grid area footer */
footer {
    grid-area: footer;
    width: 100%;
    background-color: rgb(29,29,29);
    padding: 60px 0;
    box-sizing: border-box;
}

/* Styling footer social media icon container */
.social-media {
    width: 50%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* Styling footer social media icon color */
.social-media a {
    text-decoration: none;
    color: grey;
}

.social-media a:hover {
    text-decoration: none;
    color: white;
}

/* Styling footer copyright notice paragraph */
footer p {
    text-align: center;
    font-size: 10px;
    width: 100%;
    margin: 0 auto;
    color: grey;
}